body{
    background-color: pink;
    font-size: large;
}

.un-paragraph{
color:purple;
font-weight: bold;
}

#para{
    color:aliceblue;
    font-weight:bolder;
}

.header1{
    color:aqua;
}

.header2{
    color:bisque;
}

nav a{
    color:white;
    font-weight:bold;
    font-size:larger; 
}

.listing{
    color:pink;
    font-weight:bold;
    font-size:large;
}
.orderedlisting{
    color:pink;
    font-weight:bold;
    font-size:large;
}

h1, h2, h3{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
}

#box{
    border: 2px solid red;
    padding: 10px;
    margin: 20px;
}

#button{
    background-color:blue;
    border-radius:10px;
}

#button:hover{
    background-color:black;
}

.link{
    text-decoration:none;
}
.link:visited{
    font-size:larger;
}
input:focus{outline: 2p solid blue;}

li:nth-child(odd){
color:blue;
}

p:not(.two){
    color:red;
}

.two:first-letter{
    font-size: small;
}

.card{
    position:relative;
    width:300px;
    height: fit-content;
    border:2px solid black;

}

.close{
    position: absolute;
    top:0;
}

.chatbot{
    position:fixed;
    bottom: 10rem;
    right: 0;
}