.header{
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    background-color:blueviolet;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

a{
    color:white;
    text-decoration:none;
}

.card{
    border:2px solid black;
    width: fit-content;
    height: fit-content;

}

.body{
    position:relative;
    display:flex;
    justify-between:space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
}

.body div{
    flex:1;
 
}


.grid{
    display:grid;
       grid-template-columns: (1fr,1fr);
}
.grid-items{
    border:2px solid black;
    padding: 15px;
}